<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{'Nilai a: '+temp}}</h1>
        <h1>{{'Rata-Rata: '+rataRata}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                nilai: 0,
                temp: 0,
            },
            methods: {
                openForm: function () {
                    for (let i = 0; i <= 3; i++) {
                        this.nilai = prompt("Masukan nilai a")
                        this.temp = this.temp + Number(this.nilai)
                    }
                }
            },
            computed: {
                rataRata() {
                    return this.temp / 4
                }
            },
        })
    </script>
</body>

</html>