<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div id="app" class="container">

        <div v-if="!isEditing">
            <input type="text" v-model="todo" />
            <input type="submit" value="Add" @click="storeTodo" />
        </div>
        <div v-else>
            <input type="text" v-model="todo" />
            <input type="submit" value="Update" @click="updateTodo" />
        </div>

        <ol>
            <li v-for="(todo, index) in todos">
                {{ todo }}
                <button @click="editTodo(index, todo)">Edit</button>
                <button @click="removeTodo(index)">Delete</button>
            </li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        new Vue({
            el: "#app",

            data: {
                isEditing: false,
                todo: "",
                todos: ['Muhammad Iqbal Mubarok', 'Ruby Purwanti', 'Faqih Muhammad'],
                selectedTodo: null,
            },

            methods: {
                storeTodo() {
                    this.todos.push(this.todo);
                    this.todo = "";
                },

                removeTodo(index) {
                    if (confirm('yakin ingin hapus?')) {
                        this.todos.splice(index, 1);
                    }

                },

                updateTodo() {
                    this.todos.splice(this.selectedIndex, 1, this.todo);
                    this.todo = "";
                    this.isEditing = false;
                },

                editTodo(index, todo) {
                    this.isEditing = true;
                    this.todo = todo;
                    this.selectedIndex = index;
                },
            },
        });
    </script>
</body>

</html>